<div id="modal" class="modal" data-modal="modal" data-close="close">
	<main class="modal-wrapper">
		<div class="modal-close" data-close="close">
			{{{ markup.modal-close }}}
		</div>
		<div class="modal-header"><h3>{{title}}</h3></div>
		<div class="modal-content">
			{{{ markup.modal-content }}}
		</div>
		<div class="modal-footer">
			{{#if error.length}}
				<div class="modal-error">{{error}}</div>
			{{/if}}
		</div>
	</main>
</div>
