<div id="modal" class="modal" data-modal="modal" data-close="close">
<div class="modal-container">
<div class="modal-container-close" data-close="close"></div>
{{> (getPartialComponent partialName partialType) }}
</div>
</div>
