<div class="{{styles.container}}">
    <div class="{{styles.block}}">
        <div class="{{styles.title}}">
            <h3>Вход</h3>
        </div>
        <div class="{{styles.buttons}}">
            {{> Button id="to-registration" text="Зарегистрироваться" class=styles.button data-page=page }}
        </div>
    </div>
</div>
