<div class="{{styles.container}}">
    <div class="{{styles.block}}">
        <div class="{{styles.title}}">
            <h3>Регистрация</h3>
        </div>
        <div class="{{styles.buttons}}">
            {{> Button id="to-login" text="Авторизоваться" class=styles.button data-page=page }}
        </div>
    </div>
</div>
