<div class="{{styles.container}}">
    <div class="{{styles.left}}">
        {{>
        ButtonRound
            id=''
            type=pageLinks.main
            icon=icons.arrowLeft
        }}
    </div>
</div>