.add-modal-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	& > button {
		margin: 0 auto;
	}
}

.chat-user-list {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	box-shadow: var(--shadow-btn);
}

.new-users-list {
	display: flex;
	flex-direction: column;
	max-height: 200px;
	overflow: auto;
	margin-bottom: 20px;
}

.no-users {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
