name: Deploy to GitHub Pages

on:
  push:
    branches: [ deploy ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '20.19.3'

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npx vite build --base=/messenger-yp

      - name: Deploy
        uses: peaceiris/actions-messenger-yp@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist