name: Deploy to GitHub Pages

on:
    push:
        branches: [ "deploy" ]
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write


concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
            -   uses: actions/checkout@v4

            -   name: Setup Node
                uses: actions/setup-node@v4
                with:
                    node-version: lts/*
                    cache: 'npm'

            -   name: Install Dependencies
                run: npm install

            -   name: Build for GitHub Pages
                run: npm run build
                env:
                    VITE_BASE: /${{ github.event.repository.name }}/

            -   name: Print VITE_BASE path
                run: echo "VITE_BASE ${{ github.event.repository.name }}"

            -   name: Debug Verify build
                run: ls -la dist/assets/

            -   name: Upload artifact
                uses: actions/upload-pages-artifact@v3
                with:
                    name: github-pages
                    path: ./dist

    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            -   name: Print deployment URL
                run: echo "Site deployed to ${{ steps.deployment.outputs.page_url }}"

            -   name: Download artifact
                uses: actions/download-artifact@v4
                with:
                    name: build-artifact
                    path: .

            -   name: Setup Pages
                uses: actions/configure-pages@v3

            -   name: Upload artifact
                uses: actions/upload-pages-artifact@v3
                with:
                    path: './dist'

            -   name: Deploy to GitHub Pages
                id: deployment
                uses: actions/deploy-pages@v4
